body{
    background-image: url("images/imagenfondo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

img{
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

.hide{

    display : none;
}


p{
    text-align: justify;
    margin-left: 20%;
}

.links{
    margin-left: 40%;
}

h1,h2{
    text-align: center;
}

h3{
    margin-left: 48%;
}

#jsonModal{

    position:fixed;
	text-align: justify;
	word-wrap:break-word;
	width: 600px;
	height: 200px;
	left: 35%;
	top: 12%;
	background-color: rgb(196, 196, 196);
	color:black;
	z-index: 1;
}

div{
    margin-left: 18%;
}

#guitarra{
    margin-left: 3%;
    margin-right: 5%;
    font : bold;
}

#bateria{
    margin-left: 5%;
    margin-right: 5%;
    font : bold;
}

#microfono{
    margin-left: 0%;
    margin-right: 5%;
    font : bold;
}

#accesorios{
    margin-left: 4%;
    margin-right: 5%;
    font : bold;
}


#vientos{
    margin-left: 5%;
    margin-right: 5%;
    font : bold;
}

#volver{
    margin-left: 45%;
}